@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #000000;
  --point-color: #d97652;
  --link-color: #f29d52;
  --bg-color: #f2e9d8;
  --aside-color: #263140;
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

html {
  font-size: 10px;
}
/* 모바일 화면 크기 : 320 ~ 767px */
body {
  font-family: "SpoqaHanSansNeo-Regular";
  min-width: 320px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2.2rem;
  background-color: var(--bg-color);
  position: sticky;
}

a {
  text-decoration: none;
  color: #fff;
}

/* 메뉴를 PC 에서는 open 하고 이미지 숨김처리 아니면 none 적용해서 해보기 */
/* summary에 bg CSS 넣어서 나중에 숨기기하기*/
summary {
  list-style: none;
}
summary::before {
  content: "";
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
}

/* transition 으로 사용가능한가? 검토 */
details[open] {
}

/* main 내 공통 부분 */
.title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 30.05px;
}

.title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 30.05px;
}

.detail {
  font-size: 1.4rem;
  line-height: 17.53px;
}

.m3-detail {
  font-size: 1.6rem;
  line-height: 20.03px;
}

.left {
  text-align: left;
}

.btn {
  width: 11.9rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: var(--point-color);
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 17.53px;
  cursor: pointer;
}

.img {
  border-radius: 1.8rem;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 25%);
}

.point {
  color: var(--point-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main1 */

.main1 {
  padding: 4rem 5.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  align-items: center;
  background-color: var(--bg-color);
}

/* ??????다시 하기 */
.main1 img {
  width: 100%;
  min-width: 19.7rem;
  max-width: 41.5rem;
}

/* .main1 {
  
  박스 고양이 잘린거 어떻게 표현해야하나....
  overflow hidden 을 썼던거 같은데 다시 확인하기 ㅠㅠ!
  height: 90.2rem;
  height 를 설정해야 gap 4%로 설정가능
  gap: 4%;
} */

/* main2 */
.main2 {
  display: flex;
  flex-direction: column;

  padding: 4rem 3.2rem;
  gap: 2rem;
}

.main2 img {
  width: 100%;
  max-width: 66rem;
  aspect-ratio: 326/190;
  object-fit: cover;
  margin-bottom: 2rem;
}

/* main3 */
.main3 {
  display: flex;
  flex-direction: column;
  padding: 2rem 3.2rem;
  gap: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.main3 ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  overflow-x: scroll;
  /* 스크롤바 숨기기..?? */
  scrollbar-width: none;
}

.main3 article img {
  width: 26rem;
}

.main3 .btn {
  display: inline-block;
}

/* aside */
.blogpost {
  padding: 3.6rem 3.2rem 3rem;
  margin: auto 3.2rem;
  border-radius: 1.8rem;
  background-color: var(--aside-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}

.aside-detail {
  color: var(--bg-color);
}

.blogpost form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  /* 위치 넣는거 수정 필요 */
  position: relative;
}

.blogpost form label {
  width: 1.5rem;
  height: 1.2rem;
  position: absolute;
  left: 1.6rem;
  top: 1.1rem;
}

input {
  width: 100%;
  max-width: 53rem;
  height: 4rem;
  border-radius: 6rem;
  text-align: center;
  border: none;
}

.bg-img {
  width: 100%;
  height: 24rem;
  background-image: url(../img/img_5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 60%;
}

/* footer */
footer {
  padding: 3rem 2rem 2.4rem;
  display: grid;
  grid-template-areas:
    "img mobile"
    "link mobile";
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  gap: 5.8rem;
}

footer img {
  grid-area: img;
}

.link ul {
  grid-area: link;
  display: flex;
  gap: 1.6rem;
}

.link ul li {
  background-color: var(--link-color);
  border-radius: 100%;
}

.link img {
  margin: 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.mobile {
  grid-area: mobile;
}

.mobile ul {
  min-width: 8.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.6rem;
}

.mobile a {
  font-size: 1.4rem;
  color: #767676;
  line-height: 17.53px;
}

/* 모달창 */
#subscribe {
  width: 30rem;
  height: 30rem;
  background-image: url(../img/modal-bg-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--bg-color);
  border: none;
  border-radius: 3rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);

  /* display: flex; */
  box-sizing: border-box;
  padding: 4rem 3rem 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#subscribe img {
  width: 6rem;
  height: 6.2rem;
}

#closeBtn {
  width: 16.3rem;
  height: 4rem;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 4.8rem;
    line-height: 60.1px;
  }

  .detail {
    font-size: 1.6rem;
    line-height: 20.03px;
  }

  /* 사이드바 */
  summary::before {
    content: none;
  }
  .menu ul {
    display: flex;
    gap: 30px;
  }
  /*  */
  .menu a {
    color: #000000;
    font-size: 1.6rem;
    line-height: 20.03px;
  }

  header {
    justify-content: space-around;
  }

  footer {
    justify-content: space-around;
  }

  .mobile {
    display: none;
  }
}
